:root {
    --background-color-light: #f0f8ff;
    --background-color-dark: #2c3e50;
    --text-color-light: #2c3e50;
    --text-color-dark: #ecf0f1;
    --primary-color-light: #3498db;
    --primary-color-dark: #2980b9;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: background-color 0.5s, color 0.5s;
    background: url('sea-background.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: row;
}

body.light-mode {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
}

body.dark-mode {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

.sidebar {
    width: 250px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    position: fixed;
    height: 100%;
    overflow: auto;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

body.dark-mode .sidebar {
    background-color: rgba(44, 62, 80, 0.8);
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 20px 0;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-color-light);
    font-weight: bold;
    display: block;
    padding: 10px;
    transition: background-color 0.3s;
}

body.dark-mode nav ul li a {
    color: var(--text-color-dark);
}

nav ul li a:hover {
    background-color: var(--primary-color-light);
    color: white;
}

body.dark-mode nav ul li a:hover {
    background-color: var(--primary-color-dark);
}

button {
    background-color: var(--primary-color-light);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
}

body.dark-mode button {
    background-color: var(--primary-color-dark);
}

.content {
    margin-left: 250px;
    padding: 20px;
    flex-grow: 1;
}

header {
    text-align: center;
    margin-bottom: 50px;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.section {
    margin-bottom: 50px;
}

.timeline {
    position: relative;
    padding-left: 20px;
    border-left: 2px solid var(--primary-color-light);
}

.timeline-event {
    margin-bottom: 20px;
}

.timeline-event::before {
    content: '';
    position: absolute;
    left: -8px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--primary-color-light);
}

body.dark-mode .timeline {
    border-left-color: var(--primary-color-dark);
}

body.dark-mode .timeline-event::before {
    background-color: var(--primary-color-dark);
}
